{% load static %}



	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
						<h2 class="title">Yemekler</h2>
                        <hr>
				</div>
				<!-- section title -->
                {% for rs in randomproducts %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<img src="{{ rs.image.url }}" alt="" style="height: 300px" >
						</div>
						<div class="product-body">
							<h3 class="product-price">{{ rs.price }} TL</h3>
                            <h2 class="product-name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
                {% endfor %}
			</div>
			<!-- /row -->


		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
