{% load static %}
    <!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="/">
		            <img src="{%static 'img/logo.png'%}" alt="">
		          </a>
						</div>
						<!-- /footer logo -->

						<p>{{ setting.description }}</p>

						<!-- footer social -->
						<ul class="footer-social">
							<li><a href="{{setting.facebook}}"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{{setting.twitter}}"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{{setting.instagram}}"><i class="fa fa-instagram"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Hesabım</h3>
						<ul class="list-links">
							<li><a href="/user/">Hesabim</a></li>
							<li><a href="/login/">Giriş Yap</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">bİzİ tanıyın</h3>
						<ul class="list-links">
							<li><a href="/hakkimizda">HAKKIMIZDA</a></li>
							<li><a href="/referanslar">REFEREANSLAR</a></li>
							<li><a href="/iletisim">İLETİŞİM</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

			</div>
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->


    <!-- jQuery Plugins -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>