{% load static %}

<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
                <div class="category-nav show-on-click">
					<span class="category-header">restoranlar <i class="fa fa-list"></i></span>

					<ul class="category-list">
                {% load mptt_tags %}

                    {% recursetree category %}
						<li class="dropdown side-dropdown">
                            <a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true" {% endif %}>{{ node.title }} {% if not node.is_leaf_node %} <i class="fa fa-angle-right">{% endif %}</i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if not node.is_leaf_node %}
                                            <ul class="list-links">
                                                <h3 class="list-links-title">MENULER</h3></li>
                                            <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>
                                </ul>
                                        {% endif %}
                                    <hr class="hidden-md hidden-lg">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endrecursetree %}

					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="/">Anasayfa</a></li>
						<li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/referanslar">Referanslar</a></li>
						<li><a href="/iletisim">İletişim</a></li>

					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->